@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1d1d;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: url('/images/cursor.png'), auto;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

.flex {
  max-width: 100%;
}